body {
    color: rgb(252, 223, 0);
    background: rgb(0, 0, 0);
    margin: 12px;
}

header {
    border-bottom: solid 2px rgb(251, 248, 251);
    padding: 20px;
    font-size: 32px;
    color: rgb(244, 244, 237);
} 










